!!!
%html
  %head
    %title Sinatraboard
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/reset.css'}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/style.css'}
  %body
  #wrapper
    #data
      %ul
        - @panes.each do |pane|
          %li.pane
            %h2= pane.title
            = stats_for(pane)

